body {
	background-image: url(../../assets/images/leviathan.png);
	background-repeat:no-repeat;
	position:relative;
}
.hidden {
	display:none;
}
.floatRight {
	float: right;
	position: relative;
	bottom:67px;
}
.triviaHeader {
	font-family: 'Playfair Display', serif;
	margin-bottom:35px;
	text-align: center;
}
#mainArea {
    width: 457px;
    height: 517px;
    position: absolute;
    left: 415px;
    top: 24px;

}
#startButton {
    position: relative;
    bottom: 14px;
    width: 456px;
    height: 439px;
    font-size: 25px;
    float: left;
    border-radius: 50%;
    background-color:#868686;
    border-width: 0px;
    background-image: url(../../assets/images/leviathanTop.png);
    font-family: 'Playfair Display', serif;
}
#startText {
	position: absolute;
    top: 539px;
    left: 112px;
    font-size: 19px;
}