body {
/*	background-image: url(../../images/leviathan.png);
	background-repeat:no-repeat;*/
	position:relative;
}
.hidden {
	display:none;
}
.floatRight {
	float: right;
	position: relative;
	bottom:67px;
}
.triviaHeader {
	font-family: 'Playfair Display', serif;
	margin-bottom:35px;
	text-align: center;
}
#general {
    background-image: url("../images/general.png");
}
#entBook {
    background-image: url("../images/books.png");
}
#entFilm {
    background-image: url("../images/films.png");
}
#entMusic {
    background-image: url("../images/music.png");
}
#entTh {
    background-image: url("../images/theater.png");
}
#entTV {
    background-image: url("../images/television.png");
}
#entVG {
    background-image: url("../images/videoGames.png");
}
#entBG {
    background-image: url("../images/boardGames.png");
}
#sciNat {
    background-image: url("../images/nature.png");
}
#sciCom {
    background-image: url("../images/computers.png");
}
#sciMath {
    background-image: url("../images/math.png");
}
#myth {
    background-image: url("../images/mythology.png");
}
#sport {
    background-image: url("../images/sports.png");
}
#geo {
    background-image: url("../images/geology.png");
}
#his {
    background-image: url("../images/history.png");
}
#pol {  
    background-image: url("../images/politics.png");
}
#art {
    background-image: url("../images/art.png");
}
#cel {
    background-image: url("../images/celebrities.png");
}
#ani {
    background-image: url("../images/animals.png");
}
#veh {
    background-image: url("../images/vehicals.png");
}
#entCB {
    background-image: url("../images/comics.png");
}
#sciGad {
    background-image: url("../images/gadgets.png");
}
#jAM {
    background-image: url("../images/anime.png");
}
#carAni {
    background-image: url("../images/cartoons.png");
}
/*#mainArea {
    width: 457px;
    height: 517px;
    position: absolute;
    left: 415px;
    top: 24px;

}*/
.catagoryBtn {
    width:200px;
    height:67px;
}
#startButton {
    position: relative;
    bottom: 14px;
    width: 456px;
    height: 439px;
    font-size: 25px;
    float: left;
    border-radius: 50%;
    background-color:#868686;
    border-width: 0px;
    background-image: url(../../images/leviathanTop.png);
    font-family: 'Playfair Display', serif;
}
#startText {
	position: absolute;
    top: 539px;
    left: 112px;
    font-size: 19px;
}