body {
	background-image: url(../images/background.png);
    background-size:100%;
	position:relative;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: bold;
    text-shadow:     0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5;
}
.hidden {
	display:none;
}
.floatRight {
	float: right;
	position: relative;
	bottom:67px;
}
.triviaHeader {
	margin-bottom:35px;
    text-align: center; 
    color: #FDFDFD;
    
}
.gameText,
.rightAnswerText {
    color: #FDFDFD;
    
}
#general {
    background-image: url("../images/general.png");
}
#entBook {
    background-image: url("../images/books.png");
}
#entFilm {
    background-image: url("../images/films.png");
}
#entMusic {
    background-image: url("../images/music.png");
}
#entTV {
    background-image: url("../images/television.png");
}
#entVG {
    background-image: url("../images/videoGames.png");
}
#entBG {
    background-image: url("../images/boardGames.png");
}
#sciNat {
    background-image: url("../images/nature.png");
}
#sciCom {
    background-image: url("../images/computers.png");
}
#sciMath {
    background-image: url("../images/math.png");
}
#myth {
    background-image: url("../images/mythology.png");
}
#sport {
    background-image: url("../images/sports.png");
}
#geo {
    background-image: url("../images/geology.png");
}
#his {
    background-image: url("../images/history.png");
}
#pol {  
    background-image: url("../images/politics.png");
}
#cel {
    background-image: url("../images/celebrities.png");
}
#ani {
    background-image: url("../images/animals.png");
}
#veh {
    background-image: url("../images/vehicals.png");
}
#entCB {
    background-image: url("../images/comics.png");
}
#jAM {
    background-image: url("../images/anime.png");
}
#carAni {
    background-image: url("../images/cartoons.png");
}
#moveRight{
    width: 200px;
    height: 800px;
}
#mainArea {
    margin-left:20%;

}
.categoryBtn {
    width:200px;
    height:67px;
}
@media screen and (min-width: 641px) {
    .rightAnswerText,
    .gameText {
        font-size: 2em;
        text-shadow:  0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5;

    }
    .triviaHeader {
        text-shadow: 
        0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5,
        -3px 4px #808d93,
        -4px 3px #cdd2d5,
        -4px 5px #808d93,
        -5px 4px #cdd2d5,
        -5px 6px #808d93,
        -6px 5px #cdd2d5,
        -6px 7px #808d93,
        -7px 6px #cdd2d5,
        -7px 8px #808d93,
        -8px 7px #cdd2d5;
    }
}
@media screen and (max-width: 640px) {
    .triviaHeader {
        font-size: 1.25em;
        text-shadow:  
            0 1px #808d93,
            -1px 0 #cdd2d5,
            -1px 2px #808d93,
            -2px 1px #cdd2d5,
            -2px 3px #808d93,
            -3px 2px #cdd2d5;
    }

    .rightAnswerText,
    .gameText {
        font-size: 1.25em;
        text-shadow:  
            0 1px #808d93,
            -1px 0 #cdd2d5,
            -1px 2px #808d93,
            -2px 1px #cdd2d5;
    }
}